In [3]:
# read in pandas
import pandas as pd

# define filepath for data
fp = r'/Users/admin/python-environments/Final Assignment/data/2315676.txt'

# Read in data fro)m file
data = pd.read_csv(fp)

data.head()


# create index, identify null values

# select columns of interest


# Calculate missing average values based on min and max values 


# convert temps in fahrenheit to to degrees celsius

  STATION           STATION_NAME                                       DATE     TAVG     TMAX     TMIN
0  ----------------- ----------------------------...
1  GHCND:FI000007501                             ...
2  GHCND:FI000007501                             ...
3  GHCND:FI000007501                             ...
4  GHCND:FI000007501                             ...